#Aula06
**Probabilidade (prob)**<br/>
1 = 100% ou 100/100<br/>
Então [0, ..., 1]<br/>

prob = favorável / total<br/>

Quando tiver "e" na pergunta eu * as prob<br/>
Quando tiver "ou" na pergunta eu + as prob<br/>
[Vídeo: Probabilidade UNIVESP](https://youtu.be/yWJB3nMHRYE)<br/>
[Vídeo: Exercícios probabilidade UNIVESP](https://youtu.be/qPUjLQStxzc)<br/>

In [59]:
# Importando a biblioteca pandas
import pandas as pd

In [65]:
# Lendo os arquivos de dados com a biblioteca pandas 
df_2020 = pd.read_excel('/content/respostas_embaixadinha_2020.xlsx')
df_2021 = pd.read_excel('/content/respostas_embaixadinha_2021.xlsx')
display(df_2020.head(2))
display(df_2021.head(2))

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2020-08-19 22:04:48.352  ...                                            5
1 2020-08-19 22:04:49.338  ...                                            2

[2 rows x 14 columns]

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2021-08-20 09:48:35.182  ...                                           42
1 2021-08-20 10:00:22.997  ...                                           10

[2 rows x 14 columns]

In [66]:
# Removendo a coluna de Endereço de e-mail, pois ela está sem informações
df_2020.drop(columns=['Endereço de e-mail'], inplace=True)
#df_2020.drop(columns=['Endereço de e-mail','Carimbo de data/hora'], inplace=True)

df_2021.drop(columns=['Endereço de e-mail'], inplace=True)
#df_2021.drop(columns=['Endereço de e-mail','Carimbo de data/hora'], inplace=True)

#display(df_2020.head(2))
#display(df_2021.head(2))

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2020-08-19 22:04:48.352  ...                                            5
1 2020-08-19 22:04:49.338  ...                                            2

[2 rows x 13 columns]

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2021-08-20 09:48:35.182  ...                                           42
1 2021-08-20 10:00:22.997  ...                                           10

[2 rows x 13 columns]

In [72]:
# Removento valores faltantes NaN
print(f'Antes: \n2020 = {df_2020.shape}\n2021 = {df_2021.shape}')
df_2020.dropna(subset=['Qual seu número USP?'], inplace=True)
df_2021.dropna(subset=['Qual seu número USP?'], inplace=True)
print(f'Depois: \n2020 = {df_2020.shape}\n2021 = {df_2021.shape}')

Antes:
2020 = (59, 13)
2021 = (62, 13)
Depois:
2020 = (59, 13)
2021 = (62, 13)

In [74]:
# Converter column 'Qual seu número USP?' para inteiro
df_2020['Qual seu número USP?'] = df_2020['Qual seu número USP?'].astype(int)
df_2021['Qual seu número USP?'] = df_2021['Qual seu número USP?'].astype(int)

In [75]:
# Removendo quem tem número USP duplicado, mantendo o último e apagando os anteriores
df_2020.drop_duplicates(subset=['Qual seu número USP?'], inplace=True, keep='last')
df_2021.drop_duplicates(subset=['Qual seu número USP?'], inplace=True, keep='last')

In [78]:
print(df_2020.info())
print('\n')
print(70*'=')
print('\n')
print(df_2021.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Carimbo de data/hora                                                   59 non-null     datetime64[ns]
 1   Qual seu número USP?                                                   59 non-null     int64
 2   Crie um pseudônimo para você?                                          59 non-null     object
 3   Qual sua data de nascimento?                                           59 non-null     int64
 4   Qual sua estatura em metros?                                           59 non-null     float64
 5   Qual sua massa corporal em quilogramas?                                59 non-null     float64
 6   Qual o número do seu calçado?                                          59 non-null     int64
 7   Sexo (M = masculino ou F = feminino)                                   59 non-null     object
 8   Qual o seu tempo de prática no futebol em anos?                        59 non-null     int64
 9   Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?  59 non-null     int64
 10  Qual time de futebol do Brasil você torce?                             59 non-null     object
 11  Qual seu esporte preferido?                                            59 non-null     object
 12  Quantas embaixadinhas você conseguiu fazer?                            59 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 6.5+ KB
None


======================================================================


<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 13 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Carimbo de data/hora                                                   62 non-null     datetime64[ns]
 1   Qual seu número USP?                                                   62 non-null     int64
 2   Crie um pseudônimo para você?                                          62 non-null     object
 3   Qual sua data de nascimento?                                           62 non-null     int64
 4   Qual sua estatura em metros?                                           62 non-null     float64
 5   Qual sua massa corporal em quilogramas?                                62 non-null     float64
 6   Qual o número do seu calçado?                                          62 non-null     int64
 7   Sexo (M = masculino ou F = feminino)                                   62 non-null     object
 8   Qual o seu tempo de prática no futebol em anos?                        62 non-null     int64
 9   Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?  62 non-null     int64
 10  Qual time de futebol do Brasil você torce?                             62 non-null     object
 11  Qual seu esporte preferido?                                            62 non-null     object
 12  Quantas embaixadinhas você conseguiu fazer?                            62 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 6.8+ KB
None

# Probabilidade


1.   Qual a probabilidade de escolher uma pessoa do sexo F de cada sala?
2.   Qual sala eu tenho mais chances de escolher alguém de skill de 5?

In [86]:
total_2020 = df_2020.shape[0]
total_2021 = df_2021.shape[0]
print(f'O total de alunos em 2020 eh {total_2020}\nO total de alunos em 2021 eh {total_2021}')

O total de alunos em 2020 eh 59
O total de alunos em 2021 eh 62

**Resposta: 1. Qual a probabilidade de escolher uma pessoa do sexo F de cada sala?**

In [87]:
# Contar quantos são do sexo masculino (M) e quantos são do sexo feminino (F)
mf_2020 = df_2020['Sexo (M = masculino ou F = feminino)'].value_counts()
mf_2021 = df_2021['Sexo (M = masculino ou F = feminino)'].value_counts()
print(f'2020:\n{mf_2020}\n2021:\n{mf_2021}')

2020:
M    35
F    24
Name: Sexo (M = masculino ou F = feminino), dtype: int64
2021:
M    37
F    25
Name: Sexo (M = masculino ou F = feminino), dtype: int64

In [100]:
# A prob de escolher uma mulher em 2020 eh...
prob_2020 = mf_2020[1] / total_2020
prob_2020 = round(prob_2020, 2) # para arredondar com duas casas decimais
print(f'A probabilidade de escolher ao acaso uma mulher da turm@ de 2020 eh de:\n{100*prob_2020}%')

A probabilidade de escolher ao acaso uma mulher da turm@ de 2020 eh de:
41.0%

In [101]:
# A prob de escolher uma mulher em 2021 eh...
prob_2021 = mf_2021[1] / total_2021
prob_2021 = round(prob_2021, 2) # para arredondar com duas casas decimais
print(f'A probabilidade de escolher ao acaso uma mulher da turm@ de 2021 eh de:\n{100*prob_2021}%')

A probabilidade de escolher ao acaso uma mulher da turm@ de 2021 eh de:
40.0%

**Resposta: 2.Qual sala eu tenho mais chances de escolher alguém de skill de 5?**

0.4