#Aula06
**Probabilidade (prob)**<br/>
1 = 100% ou 100/100<br/>
Então [0, ..., 1]<br/>

prob = favorável / total<br/>

Quando tiver "e" na pergunta eu * as prob<br/>
Quando tiver "ou" na pergunta eu + as prob<br/>
[Vídeo: Probabilidade UNIVESP](https://youtu.be/yWJB3nMHRYE)<br/>
[Vídeo: Exercícios probabilidade UNIVESP](https://youtu.be/qPUjLQStxzc)<br/>

In [175]:
# Importando a biblioteca pandas
import pandas as pd

In [176]:
# Lendo os arquivos de dados com a biblioteca pandas 
df_2020 = pd.read_excel('/content/respostas_embaixadinha_2020.xlsx')
df_2021 = pd.read_excel('/content/respostas_embaixadinha_2021.xlsx')
display(df_2020.head(2))
display(df_2021.head(2))

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2020-08-19 22:04:48.352  ...                                            5
1 2020-08-19 22:04:49.338  ...                                            2

[2 rows x 14 columns]

     Carimbo de data/hora  ...  Quantas embaixadinhas você conseguiu fazer?
0 2021-08-20 09:48:35.182  ...                                           42
1 2021-08-20 10:00:22.997  ...                                           10

[2 rows x 14 columns]

In [177]:
# Removendo a coluna de Endereço de e-mail, pois ela está sem informações
df_2020.drop(columns=['Endereço de e-mail'], inplace=True)
#df_2020.drop(columns=['Endereço de e-mail','Carimbo de data/hora'], inplace=True)

df_2021.drop(columns=['Endereço de e-mail'], inplace=True)
#df_2021.drop(columns=['Endereço de e-mail','Carimbo de data/hora'], inplace=True)

#display(df_2020.head(2))
#display(df_2021.head(2))

In [178]:
# Removento valores faltantes NaN
print(f'Antes: \n2020 = {df_2020.shape}\n2021 = {df_2021.shape}')
df_2020.dropna(subset=['Qual seu número USP?'], inplace=True)
df_2021.dropna(subset=['Qual seu número USP?'], inplace=True)
print(f'Depois: \n2020 = {df_2020.shape}\n2021 = {df_2021.shape}')

Antes:
2020 = (59, 13)
2021 = (62, 13)
Depois:
2020 = (59, 13)
2021 = (62, 13)

In [179]:
# Converter column 'Qual seu número USP?' para inteiro
df_2020['Qual seu número USP?'] = df_2020['Qual seu número USP?'].astype(int)
df_2021['Qual seu número USP?'] = df_2021['Qual seu número USP?'].astype(int)

In [180]:
# Removendo quem tem número USP duplicado, mantendo o último e apagando os anteriores
df_2020.drop_duplicates(subset=['Qual seu número USP?'], inplace=True, keep='last')
df_2021.drop_duplicates(subset=['Qual seu número USP?'], inplace=True, keep='last')

In [181]:
print(df_2020.info())
print('\n')
print(70*'=')
print('\n')
print(df_2021.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 58
Data columns (total 13 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Carimbo de data/hora                                                   59 non-null     datetime64[ns]
 1   Qual seu número USP?                                                   59 non-null     int64
 2   Crie um pseudônimo para você?                                          59 non-null     object
 3   Qual sua data de nascimento?                                           59 non-null     int64
 4   Qual sua estatura em metros?                                           59 non-null     float64
 5   Qual sua massa corporal em quilogramas?                                59 non-null     float64
 6   Qual o número do seu calçado?                                          59 non-null     int64
 7   Sexo (M = masculino ou F = feminino)                                   59 non-null     object
 8   Qual o seu tempo de prática no futebol em anos?                        59 non-null     int64
 9   Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?  59 non-null     int64
 10  Qual time de futebol do Brasil você torce?                             59 non-null     object
 11  Qual seu esporte preferido?                                            59 non-null     object
 12  Quantas embaixadinhas você conseguiu fazer?                            59 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 6.5+ KB
None


======================================================================


<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 13 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Carimbo de data/hora                                                   62 non-null     datetime64[ns]
 1   Qual seu número USP?                                                   62 non-null     int64
 2   Crie um pseudônimo para você?                                          62 non-null     object
 3   Qual sua data de nascimento?                                           62 non-null     int64
 4   Qual sua estatura em metros?                                           62 non-null     float64
 5   Qual sua massa corporal em quilogramas?                                62 non-null     float64
 6   Qual o número do seu calçado?                                          62 non-null     int64
 7   Sexo (M = masculino ou F = feminino)                                   62 non-null     object
 8   Qual o seu tempo de prática no futebol em anos?                        62 non-null     int64
 9   Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?  62 non-null     int64
 10  Qual time de futebol do Brasil você torce?                             62 non-null     object
 11  Qual seu esporte preferido?                                            62 non-null     object
 12  Quantas embaixadinhas você conseguiu fazer?                            62 non-null     int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(4)
memory usage: 6.8+ KB
None

# Probabilidade


1.   Qual a probabilidade de escolher uma pessoa do sexo F de cada sala?
2.   Qual sala eu tenho mais chances de escolher alguém de skill de 5?

In [182]:
total_2020 = df_2020.shape[0]
total_2021 = df_2021.shape[0]
print(f'O total de alunos em 2020 eh {total_2020}\nO total de alunos em 2021 eh {total_2021}')

O total de alunos em 2020 eh 59
O total de alunos em 2021 eh 62

**Resposta: 1. Qual a probabilidade de escolher uma pessoa do sexo F de cada sala?**

In [183]:
# Contar quantos são do sexo masculino (M) e quantos são do sexo feminino (F)
mf_2020 = df_2020['Sexo (M = masculino ou F = feminino)'].value_counts()
mf_2021 = df_2021['Sexo (M = masculino ou F = feminino)'].value_counts()
print(f'2020:\n{mf_2020}\n2021:\n{mf_2021}')

2020:
M    35
F    24
Name: Sexo (M = masculino ou F = feminino), dtype: int64
2021:
M    37
F    25
Name: Sexo (M = masculino ou F = feminino), dtype: int64

In [184]:
# A prob de escolher uma mulher em 2020 eh...
prob_2020 = mf_2020[1] / total_2020
prob_2020 = round(prob_2020, 2) # para arredondar com duas casas decimais
print(f'A probabilidade de escolher ao acaso uma mulher da turm@ de 2020 eh de:\n{100*prob_2020}%')

A probabilidade de escolher ao acaso uma mulher da turm@ de 2020 eh de:
41.0%

In [185]:
# A prob de escolher uma mulher em 2021 eh...
prob_2021 = mf_2021[1] / total_2021
prob_2021 = round(prob_2021, 2) # para arredondar com duas casas decimais
print(f'A probabilidade de escolher ao acaso uma mulher da turm@ de 2021 eh de:\n{100*prob_2021}%')

A probabilidade de escolher ao acaso uma mulher da turm@ de 2021 eh de:
40.0%

**Resposta: 2.Qual sala eu tenho mais chances de escolher alguém de nível de habilidade (skill) de 5?**

In [186]:
# Contar quantos são dos níveis de habilidade de 1 - 5
skill_2020 = df_2020['Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?'].value_counts()
skill_2021 = df_2021['Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?'].value_counts()

In [187]:
print(f'Em 2020 o skill foi:\n{skill_2020}\n\nEm 2021 o skill foi:\n{skill_2021}')

Em 2020 o skill foi:
1    20
3    19
2    11
4     7
5     2
Name: Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?, dtype: int64

Em 2021 o skill foi:
1    22
3    21
4     9
2     9
5     1
Name: Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?, dtype: int64

In [188]:
# df_2020.dropna(subset=['Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?'], inplace=True)
totalskill_2020 = df_2020['Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?'].shape[0]
totalskill_2021 = df_2021['Em uma escala entre 1 e 5, qual o seu nível de habilidade no futebol?'].shape[0]
print(f'Total\n2020 = {totalskill_2020}\n2021 = {totalskill_2021}')

Total
2020 = 59
2021 = 62

In [189]:
#                     favorável   /   total             
prob_skill1_2020 = skill_2020[1] / totalskill_2020
prob_skill1_2021 = skill_2021[1] / totalskill_2021

prob_skill1_2020_porce = round(prob_skill1_2020, 2) * 100
prob_skill1_2021_porce = round(prob_skill1_2021, 2) * 100

print(f'A probabilidade de um skill 1 em:\n2020 = {prob_skill1_2020}\n2021 = {prob_skill1_2021}')
print(f'\nA probabilidade de um skill 1 em %:\n2020 = {prob_skill1_2020_porce}%\n2021 = {prob_skill1_2021_porce}%')

A probabilidade de um skill 1 em:
2020 = 0.3389830508474576
2021 = 0.3548387096774194

A probabilidade de um skill 1 em %:
2020 = 34.0%
2021 = 35.0%

In [190]:
#                     favorável   /   total             
prob_skill2_2020 = skill_2020[2] / totalskill_2020
prob_skill2_2021 = skill_2021[2] / totalskill_2021
		  
prob_skill2_2020_porce = round(prob_skill2_2020, 2) * 100
prob_skill2_2021_porce = round(prob_skill2_2021, 2) * 100

print(f'A probabilidade de um skill 2 em:\n2020 = {prob_skill2_2020}\n2021 = {prob_skill2_2021}')
print(f'\nA probabilidade de um skill 2 em %:\n2020 = {prob_skill2_2020_porce}%\n2021 = {prob_skill2_2021_porce}%')

A probabilidade de um skill 2 em:
2020 = 0.1864406779661017
2021 = 0.14516129032258066

A probabilidade de um skill 2 em %:
2020 = 19.0%
2021 = 15.0%

In [191]:
#                     favorável   /   total             
prob_skill3_2020 = skill_2020[3] / totalskill_2020
prob_skill3_2021 = skill_2021[3] / totalskill_2021
		  
prob_skill3_2020_porce = round(prob_skill3_2020, 2) * 100
prob_skill3_2021_porce = round(prob_skill3_2021, 2) * 100

print(f'A probabilidade de um skill 3 em:\n2020 = {prob_skill3_2020}\n2021 = {prob_skill3_2021}')
print(f'\nA probabilidade de um skill 3 em %:\n2020 = {prob_skill3_2020_porce}%\n2021 = {prob_skill3_2021_porce}%')

A probabilidade de um skill 3 em:
2020 = 0.3220338983050847
2021 = 0.3387096774193548

A probabilidade de um skill 3 em %:
2020 = 32.0%
2021 = 34.0%

In [192]:
#                     favorável   /   total             
prob_skill4_2020 = skill_2020[4] / totalskill_2020
prob_skill4_2021 = skill_2021[4] / totalskill_2021
		  
prob_skill4_2020_porce = round(prob_skill4_2020, 2) * 100
prob_skill4_2021_porce = round(prob_skill4_2021, 2) * 100

print(f'A probabilidade de um skill 4 em:\n2020 = {prob_skill4_2020}\n2021 = {prob_skill4_2021}')
print(f'\nA probabilidade de um skill 4 em %:\n2020 = {prob_skill4_2020_porce}%\n2021 = {prob_skill4_2021_porce}%')

A probabilidade de um skill 4 em:
2020 = 0.11864406779661017
2021 = 0.14516129032258066

A probabilidade de um skill 4 em %:
2020 = 12.0%
2021 = 15.0%

In [193]:
#                     favorável   /   total             
prob_skill5_2020 = skill_2020[5] / totalskill_2020
prob_skill5_2021 = skill_2021[5] / totalskill_2021

prob_skill5_2020_porce = round(prob_skill5_2020, 2) * 100
prob_skill5_2021_porce = round(prob_skill5_2021, 2) * 100

print(f'A probabilidade de um skill 5 em:\n2020 = {prob_skill5_2020}\n2021 = {prob_skill5_2021}')
print(f'\nA probabilidade de um skill 5 em %:\n2020 = {prob_skill5_2020_porce}%\n2021 = {prob_skill5_2021_porce}%')

A probabilidade de um skill 5 em:
2020 = 0.03389830508474576
2021 = 0.016129032258064516

A probabilidade de um skill 5 em %:
2020 = 3.0%
2021 = 2.0%

In [194]:
probs_2020 = [prob_skill1_2020_porce, prob_skill2_2020_porce, prob_skill3_2020_porce, prob_skill4_2020_porce, prob_skill5_2020_porce]
probs_2021 = [prob_skill1_2021_porce, prob_skill2_2021_porce, prob_skill3_2021_porce, prob_skill4_2021_porce, prob_skill5_2021_porce]
print(f'Probabilidade skills 2020 = {probs_2020}')
print(f'Probabilidade skills 2021 = {probs_2021}')

Probabilidade skills 2020 = [34.0, 19.0, 32.0, 12.0, 3.0]
Probabilidade skills 2021 = [35.0, 15.0, 34.0, 15.0, 2.0]

In [204]:
df_2020['Qual sua estatura em metros?'].sort_values(ascending=False)

24    1.89
44    1.87
37    1.86
56    1.85
5     1.85
40    1.83
8     1.83
38    1.83
52    1.81
14    1.80
34    1.80
31    1.80
0     1.79
27    1.79
57    1.78
18    1.78
55    1.78
16    1.77
35    1.77
20    1.77
29    1.77
22    1.75
23    1.75
11    1.75
13    1.75
3     1.75
32    1.75
54    1.75
7     1.74
50    1.73
48    1.72
51    1.72
21    1.72
30    1.71
43    1.70
28    1.70
9     1.69
10    1.68
15    1.67
47    1.67
1     1.66
41    1.65
53    1.65
25    1.65
26    1.65
42    1.64
12    1.64
33    1.64
58    1.63
17    1.63
2     1.63
45    1.62
49    1.61
19    1.61
6     1.60
4     1.60
46    1.60
36    1.57
39    1.55
Name: Qual sua estatura em metros?, dtype: float64

In [206]:
baixo2020 = df_2020['Qual sua estatura em metros?'].min()
baixo2021 = df_2020['Qual sua estatura em metros?'].min()

alto2020 = df_2020['Qual sua estatura em metros?'].max()
alto2021 = df_2021['Qual sua estatura em metros?'].max()

In [219]:
df_2020['Qual time de futebol do Brasil você torce?'].str.upper().str.replace(' ', '')

0                            NENHUM
1                            NENHUM
2                           AMÉRICA
3                         PALMEIRAS
4                            NENHUM
5                         PALMEIRAS
6                            SANTOS
7                         PALMEIRAS
8                       CORINTHIANS
9                       CORINTHIANS
10                         SÃOPAULO
11                         SÃOPAULO
12                      CORINTHIANS
13                      CORINTHIANS
14                      CORINTHIANS
15                           NENHUM
16                        PALMEIRAS
17                        PALMEIRAS
18                           SANTOS
19                      CORINTHIANS
20                         SÃOPAULO
21            SÃOPAULOFCEBOTAFOGOSP
22                         SÃOPAULO
23                         SÃOPAULO
24                       PONTEPRETA
25                         SÃOPAULO
26                        PALMEIRAS
27                         SÃOPAULO
28                           NENHUM
29                         SÃOPAULO
30                        COMERCIAL
31                        PALMEIRAS
32                         SÃOPAULO
33                      CORINTHIANS
34                           NENHUM
35                        PALMEIRAS
36                      CORINTHIANS
37                       BOTAFOGORP
38                         SÃOPAULO
39                           NENHUM
40                         SÃOPAULO
41                           NENHUM
42                      CORINTHIANS
43                         SÃOPAULO
44                         SÃOPAULO
45                           NENHUM
46                      CORINTHIANS
47                           FUTRAP
48                        PALMEIRAS
49                        PALMEIRAS
50    SPORTCLUBECORINTHIANSPAULISTA
51                         SÃOPAULO
52                        PALMEIRAS
53                         SAOPAULO
54                      CORINTHIANS
55                         SÃOPAULO
56                           NENHUM
57                        PALMEIRAS
58                         SÃOPAULO
Name: Qual time de futebol do Brasil você torce?, dtype: object